.row2
	.col-lg-12
		form(role="search",action='/calculate' method='post')
			<div ng-repeat="(qcatkey, qcatval) in qcategories" class="form-group">
			<p>{{ qcatkey }}</p>
			<label ng-repeat="(qkey, qval) in qcatval" for='{{ qval.id }}' class='control-label'>{{qval.text}}
			select(id="{{ qval.id }}", class="form-control", name="{{ qval.id }}")
				option(value="answer_l") {{qval.answer_l.text}}
				option(value="answer_h") {{qval.answer_h.text}}
			</label>
			</div>
			button(type="submit").btn.btn-default Submit
					