doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Cultural country matcher
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
